.env
.DS_Store
.vscode
CMakeCache.txt
CMakeFiles
/build
/frontend/build
/frontend/node_modules
/frontend/src/utils/Config.js
/statuspage/build
/statuspage/node_modules
/statuspage/src/utils/Config.js
/api/config/config.inc.php
/docs/build
