language: generic 
sudo: required
dist: bionic
matrix:
  include:
    - os: linux
      env: COMPILER_NAME=gcc CXX=g++-5 CC=gcc-5
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - gcc-5
          - g++-5
          - libev-dev
          - libsqlite-dev
          - libmysqlclient-dev
          - libboost-all-dev
          - libssl-dev
          - flex
          - bison
          - pkg-config
before_script:
- wget https://curl.haxx.se/download/curl-7.71.1.tar.gz
- tar -xzf curl-7.71.1.tar.gz
- pushd curl-7.71.1 && ./configure --prefix=/usr/local && make && sudo make install && popd
- wget https://ftp.fau.de/apache/thrift/0.13.0/thrift-0.13.0.tar.gz
- tar -xzf thrift-0.13.0.tar.gz
- pushd thrift-0.13.0 && ./configure --prefix=/usr --with-php=no --with-erlang=no --with-go=no --with-java=no --with-python=no --with-py3=no --with-ruby=no --with-nodejs=no --with-c_glib=no --with-cpp=yes && make && sudo make install && popd
script:
- mkdir build
- cd build
- cmake -DCMAKE_INSTALL_PREFIX=/usr/local .. && make
